html, body {
	margin:0;
}
#map{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
	display:block;
}
.logo:hover { 
	width:65px!important;
	height:65px !important;
}
#container {
	width:500px;
	top:54px;
	bottom:0px;
	background-color:#2e3039;
	display:none;	
	margin-left: 0;
	position:absolute;
	overflow:auto;
	overflow-x:hidden;
}
#title2 {
	width:400px;
	height:30px;
	margin:0 auto;
	text-align:center;
	font-size:30px;
	color:#cccccc;
	padding-top:10px;
	font-weight:bold;
	padding-top:30px;
	font-family:Arial;
}
#parkInfo{
	width: 400px;
	height:120px;
	margin:auto;
	margin-top:30px;
}
#rok {
	float:left;
	display:block;
	width:310px;
	height:50px;
	color:#ddd;
	font-family:arial;
	font-size:20px;
}
#siedziba {
	display:block;
	float:left;
	width:310px;
	height:50px;
	margin-top:20px;/*40*/
	color:#ddd;
	font-family:arial;
	font-size:20px;/*24*/
}
#title {
	position:relative;
	float:right;
	height:120px;
	width:90px;
}



#natura {
	border: 2px #777 solid;
	border-radius:20px;
}

#photo {
	width:400px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	display:block;
}

#symbol {
	width:400px;
	color:#ddd;
	margin:auto;
	text-align:left;
	font-family:arial;
	font-size:20px;
	
}
#photo2 {
	width:400px;/*450*/
	/*height:300px;*/
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	position:relative;
	display:block;
}
#close-button {
	background-color:#dddddd;
	border:none;
	border-radius:10px;
	outline:none;
	float:right;
	top:10px;
	right:10px;
	display:block;
	position:absolute;
}
#close-button:hover {
	background-color:#aaa;
	cursor:pointer;
}


/*warstwy po lewej stronie menu*/
#menu_narodowe{
    position: absolute;
    left: 10px;
	top:7.5px;
	width:30px;
	height:30px;
}
#narodowe_button, #krajobrazowe_button, #szlaki_button, #nmt_button {
	border:1px solid #aaa;
	padding:5px;
	border-radius:5px;
}
#narodowe_button:focus, #krajobrazowe_button:focus, #szlaki_button:focus, #nmt_button:focus {
    outline: 0 !important;
}
#narodowe_button:hover, #krajobrazowe_button:hover, #szlaki_button:hover, #nmt_button:hover {
	opacity:0.5;
}
#menu_narodowe .info_warstwy, #menu_krajobrazowe .info_warstwy, #menu_szlaki .info_warstwy, #menu_nmt .info_warstwy{
	visibility: hidden;
	width: 180px;
	background-color: #2e3039;
	color: #ddd;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
	top: 170%;
	left: 220%;
	margin-left: -60px;
	font-size:18px;
	border:1px solid #aaa;
	font-weight:bold;
}
#menu_narodowe:hover .info_warstwy, #menu_krajobrazowe:hover .info_warstwy, #menu_szlaki:hover .info_warstwy, #menu_nmt:hover .info_warstwy {
  visibility: visible;
  opacity: 1;
}
#menu_narodowe .info_warstwy::after, #menu_krajobrazowe .info_warstwy::after, #menu_szlaki .info_warstwy::after, #menu_nmt .info_warstwy::after {
	content: " ";
	position: absolute;
	top:0%;  
	right:90%;
	transform: rotate(90deg);
	margin-top: -12px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #aaa transparent transparent;
}
#menu_krajobrazowe{
    position: absolute;
    left: 60px;
	top:7.5px;
	width:30px;
	height:30px;
}
#menu_szlaki{
    position: absolute;
    left: 110px;
	top:7.5px;
	width:30px;
	height:30px;
}
#menu_nmt{
    position: absolute;
    left: 160px;
	top:7.5px;
	width:30px;
	height:30px;
}



/*warstwy po prawej stronie menu*/

#menu_statystyki{
    position: absolute;
    right: 10px;
	top:7.5px;
	width:30px;
	height:30px;
}

#statystyki_button, #legenda_button, #warstwy_button, #informacje_button {
	border:1px solid #aaa;
	padding:5px;
	border-radius:5px;
}
#statystyki_button:focus, #legenda_button:focus, #warstwy_button:focus, #informacje_button:focus {
    outline: 0 !important;
}
#statystyki_button:hover, #legenda_button:hover, #warstwy_button:hover, #informacje_button:hover {
	opacity:0.5;
}
#menu_statystyki .info_warstwy, #menu_legenda .info_warstwy, #menu_warstwy .info_warstwy, #menu_informacje .info_warstwy{
	visibility: hidden;
	width: 180px;
	background-color: #2e3039;
	color: #ddd;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	opacity: 0;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	top: 170%;
	right: 190%;
	margin-right: -60px;
	font-size:18px;
	border:1px solid #aaa;
	font-weight:bold;
}
#menu_statystyki:hover .info_warstwy, #menu_legenda:hover .info_warstwy, #menu_warstwy:hover .info_warstwy, #menu_informacje:hover .info_warstwy {
  visibility: visible;
  opacity: 1;
  z-index:1000;
}
#menu_statystyki .info_warstwy::after, #menu_legenda .info_warstwy::after, #menu_warstwy .info_warstwy::after, #menu_informacje .info_warstwy::after{
	content: " ";
	position: absolute;
	top:0%;  
	left:90%;
	transform: rotate(90deg);
	margin-top: -12px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #aaa transparent transparent;
}
#menu_legenda{
    position: absolute;
    right: 60px;
	top:7.5px;
	width:30px;
	height:30px;
}
#menu_warstwy{
    position: absolute;
    right: 110px;
	top:7.5px;
	width:30px;
	height:30px;
}
#menu_informacje{
    position: absolute;
    right: 160px;
	top:7.5px;
	width:30px;
	height:30px;
}

.leaflet-popup-content-wrapper{
	background-color:#333!important;
	color:#eee!important;
	border: 2px solid #222;
	
}
.leaflet-popup-tip {
	background-color:#2e3039!important;
}


.tytul_legendy {
	width:326px;
	margin-bottom:10px;
	height:25px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	font-family:'Trebuchet MS', sans-serif;
	color:#2e3039;
	padding-top:10px;
	background-color:#ddd;
	border:2px #111 solid;
}
.kolor_szlaku {
	float:left;
	width:70px;
	height:10px;
	margin-top:15px;
	margin-bottom:10px;
	margin-left:15px;
	border-radius:10px;
	border:2px #111 solid;
	box-shadow:5px 5px 5px #666;
}
.nazwa_szlaku {
	float:left;
	width:220px;
	height:20px;
	margin-top:15px;
	margin-bottom:10px;
	font-size:16px;
	text-align:center;
	text-shadow:2px 2px #555;
}
.szlak_head {
	border:1.5px #222 dotted;
}
.szlak_head:hover {
	background-color:#444!important;
	cursor:pointer;
}

#opis_1 {
	height:80px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}
#opis_2 {
	height:40px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}
#opis_3 {
	height:60px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}
#opis_4 {
	height:40px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}
#opis_5 {
	height:30px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}
#opis_6 {
	height:30px;
	padding:10px;
	text-align:justify;
	background-color:#1d2028;
}


::-webkit-scrollbar-track
{
	display:none
}
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-thumb
{
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #779999),
									   color-stop(0.72, #85adad),
									   color-stop(0.86, #a3c2c2));
									   border-radius:30%;
}

.arrow {
	position:absolute; 
	right:10px;
	margin-top:10px;
	display:none;
}
.arrow_up {
	position:absolute; 
	right:10px;
	margin-top:10px;
	display:none;
}

#menu {
	display:block;
	top:0;
	width:100%;
	height:52px;
	background-color:#2e3039;
	text-align:center;
	color:#cccccc;
	font-size:24px;
	position:absolute;
	font-family:'Trebuchet MS', sans-serif;
	border-bottom:2px #ddd solid;
}
#tytuł {
	padding-top:10px;
	display:block;
}

.leaflet-control-search {
	top:500px;
}

.legendy {
	width:330px;
	right:5px;
	bottom:5px;
	position:absolute;
	display:block;
	top:55px;
	opacity:0;
	visibility:hidden;
	text-align:center;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color:#2e3039;
	border:1px solid #888;
	color:#ddd;
	overflow:auto;
	overflow-x: hidden;
	font-family:'Trebuchet MS', sans-serif;
}

#mapa_bazowa_1 {
	width:330px;
	height:150px;
	display:block;	
	text-align:center;
}
#nazwa_mapy_1 {
	width:330px;
	height:20px;
	display:block;
	text-align:center;	
	margin-top:5px;
	font-family:'Trebuchet MS', sans-serif;
}
#mapa_bazowa_2 {
	width:330px;
	height:150px;
	display:block;
	text-align:center;	
	margin-top:20px;
}
#nazwa_mapy_2 {
	width:330px;
	height:20px;
	display:block;	
	text-align:center;
	margin-top:5px;
	font-family:'Trebuchet MS', sans-serif;
}
#mapa_bazowa_3 {
	width:330px;
	height:150px;
	display:block;	
	text-align:center;
	margin-top:20px;
}
#nazwa_mapy_3 {
	width:330px;
	height:20px;
	display:block;	
	text-align:center;
	margin-top:5px;
	font-family:'Trebuchet MS', sans-serif;
}
.mapy_bazowe {
	width:200px;
	height:144px;
	border:2px #111 solid;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow:hidden;
	border-radius:25px;
	box-shadow: 0 0 0.7em #aaa;
}
.mapy_bazowe:hover {
	cursor:pointer;
	opacity:0.6;
}

#szlaki_turystyczne {
	width:330px;
	height:320px;
	text-align:center;
	display:none;
}

#uksztaltowanie_terenu {
	width:330px;
	height:730px;
	display:none;
}

#skala {
	display:block;
	width:330px;
	height:580px;
	text-align:center;
}
#legenda_png {
	width:142px;
	height:512px;
}
#suwak {
	display:block;
	width:330px;
	height:170px;
	text-align:center;
	margin-top:20px;
}
#statystyki_div {
	height:600px;
	width:800px;
	position:absolute;
	display:block;
	opacity:0;
	visibility:hidden;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color:#2e3039;
	border:1px solid #888;
	color:#ddd;
	overflow:auto;
	overflow-x: hidden;
	font-family:'Trebuchet MS', sans-serif;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
	border:1.5px #ddd solid;
}​


#wykres_1 {
	margin:auto;
	display:block;
	width:800px;
	height:600px;
}

#opacity-slider {
	-webkit-appearance: none;
	width: 250px;
	height: 8px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-left:15px;
	margin-top:10px;
}
#opacity-slider:hover {
	opacity: 1;
}
#opacity-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #13995c;
	cursor: pointer;
  }
  #opacity-slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #13995c;
	cursor: pointer;
  }
#zrodla {
	width:310px;
	display:block;
	font-size:14px;
	text-align:left;
	height:300px;
	margin:auto;
}
a {
	color:#ddd;
	text-decoration:none;
}
a:visited {
	color:#ddd;
}
a:hover {
	cursor:pointer;
	color:#aaa;
}
